.main-container {
  margin-left: 11rem;
  color: white;
  padding: 2rem;
  display: flex;
  justify-content: center;
}

.content-wrap {
  position: relative;
  width: 75%;
  height: 80vh;
  margin: 20px;
  display: flex;
  flex-direction: column;
}

.content-wrap:after {
  display: block;
  content: "";
  width: 15rem;
  height: 15rem;
  position: absolute;
  top: -5px;
  right: -5px;
  border-top: 1.5rem solid rgb(84, 92, 190);
  border-right: 1.5rem solid rgb(173, 182, 85);
}

.content:before {
  display: block;
  content: "";
  width: 15rem;
  height: 15rem;
  position: absolute;
  bottom: -5px;
  left: -5px;
  border-bottom: 1.5rem solid rgb(84, 92, 190);
  border-left: 1.5rem solid rgb(173, 182, 85);
}

.intro-wrap {
  width: 65%;
  margin: auto;
}

.intro-title {
  font-size: 6rem;
  font-weight: 200;
  letter-spacing: .8rem;
  animation: fadeIn 7s linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.intro-desc {
  padding-left: 2rem;
  border-left: .15rem solid rgb(4, 75, 113);
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.3rem;
  margin-bottom: 50px;
}

.contact-btn {
  width: 25%;
  height: 40px;
  border: none;
  background-color: transparent;
  color: rgb(4, 75, 113);
  border: 1px solid rgb(4, 75, 113);
  font-weight: bold;
  font-size: 1.1rem;
  letter-spacing: .2rem;
  transition: all .2s linear;
}

.contact-btn:hover {
  width: 25%;
  height: 40px;
  /* border: none; */
  background-color: rgb(4, 75, 113);
  color: black;
  border: 1px solid rgb(4, 75, 113);
}
