<div class="main-container">
  <div class="content-wrap">
    <span class="content">
    </span>
    <div class="intro-wrap">
      <h1 class="intro-title">
        Welcome.
      </h1>
      <p class="intro-desc">
        I’m a Full-Stack Developer located in Israel. I have a serious passion for creating intuitive, dynamic user experience applications.<br><br> I am a well organised person, problem solver, independent employee with a high attention to detail. Enthusiastic fan of the NBA, card games and movies/TV series. A family person and father of one boy.<br><br>Interested in the entire Full Stack spectrum and working on ambitious projects with positive people.
      </p>
      <button routerLink="/contact" class="contact-btn">Contact me!</button>
    </div>
  </div>
</div>
