
<menu class="main-menu">
    <div class="main-menu__top">
      <a class="logo"  href="">
        <img class="logo-img" src="assets/logo.webp" alt="">
      </a>
      <span class="logo-name">Nat</span>
      <span class="logo-desc">Web Developer</span>
    </div>
    <nav class="main-menu_nav">
      <a  routerLink="/about">About</a>
      <a  routerLink="/projects">Projects</a>
      <a routerLink="/contact">Contact</a>
      <a style="color: rgb(4, 75, 113)"  routerLink="/resume">Resume</a>
    </nav>
    <ul class="social">
      <li>
        <a href="mailto:nati.peretz1985@gmail.com" target="_blank">
         <i class="bi bi-envelope"></i>
        </a>
     </li>
      <li>
        <a href="https://www.linkedin.com/in/nati-peretz-785319159/" target="_blank">
          <i class="bi bi-linkedin"></i>
        </a>
      </li>
      <li>
        <a href="https://github.com/Natip85" target="_blank">
          <i class="bi bi-github"></i>
        </a>
      </li>
    </ul>
  </menu>

