<div class="main-container">

  <div class="resume">

    <div class="left-side">

      <div class="img-container">
        <div class="img-wrap">
          <img class="profile-pic" src="assets/logo.webp" alt="">
        </div>
      </div>

      <div class="about-me-wrap">
        <h3 class="about-me-title">ABOUT ME</h3>
        <p>Date of Birth: December 15th, 1985</p>
        <p>Age: 37</p>
        <p>Gender: Male</p>
        <p>Birth Place: Ontario, Canada</p>
      </div>

      <div class="interests-wrap">
        <h3 class="interests-title">INTERESTS</h3>
        <p>Basketball</p>
        <p>Card Games</p>
        <p>Online Games</p>
        <p>Problem Solving</p>
        <p>Physical Activity</p>
      </div>

      <div class="hobbies-wrap">
        <h3 class="hobbies-title">HOBBIES</h3>
        <div class="hobbies-icon-wrap">
        <p><i class="bi bi-book"></i></p>
        <p><i class="bi bi-music-note-beamed"></i></p>
        <p><i class="bi bi-suit-spade"></i></p>
        <p><i class="bi bi-controller"></i></p>
        <p><i class="bi bi-camera"></i></p>
        <p><i class="bi bi-film"></i></p>

        </div>
      </div>

    </div>
    <div class="right-side">

      <div class="name-sec">
        <h2 class="name">Nati Peretz</h2>
        <h5 class="description">Full Stack Developer</h5>
        <div class="name-icons-sec">
          <div class="icons-flex">
          <div class="icons-sec1">
        <p class="loc-p"><span><i class="bi bi-geo-alt-fill"></i></span>Rishone LetZion, Israel</p>
        <p class="email-p"><span><i class="bi bi-envelope"></i></span>nati.peretz1985@gmail.com</p>
        </div>
        <div class="icons-sec2">
        <p class="phone-p"><span><i class="bi bi-telephone-fill"></i></span>972527533703</p>
        <p class="globe-p"><span><i class="bi bi-globe"></i></span>natsDev.com</p>
        </div>
        </div>
        </div>
      </div>

      <div class="objectives-wrap">
      <h3 class="objectives-title">CAREER OBJECTIVES</h3>
      <p class="objectives-text">To be able to work for an encouraging and stable company that will assist me in developing and obtaining the necessary skills in order to become the best engineer possible
      </p>
      </div>

        <div class="education-wrap">
          <h3 class="edu-title">EDUCATION</h3>
          <h6><span>1999</span>BACHELOR DEGREE</h6>
          <span>2018</span><p style="display:inline">gfrgrgt</p>
          <div>
          <span>2018</span><p style="display:inline">gfrgrgt</p>
          </div>
        </div>

      <h3 class="experience-title">EXPERIENCE</h3>
      <h6 class="experience-sub-title">WEB DEVELOPER</h6>
      <p>2018 to 2019</p>
      <ul class="exp-list">
        <li>ghtghthgt</li>
        <li>hththt</li>
        <li>hththt</li>
      </ul>

      <h6 class="web-programmer-title">WEB PROGRAMMING</h6>
      <p>2018 to 2019</p>
      <ul class="exp-list2">
        <li>gtytyyt</li>
        <li>hythyhy</li>
        <li>hyhyyh</li>
      </ul>

      <!-- <div class="skills-sec-wrap">
        <div class="expertise-sec">

        </div>
        <div class="skills-sec"></div>
      </div> -->
       <!-- <div class="language-wrap"> -->
          <h3 class="language-header">SKILLS</h3>
        <!-- </div> -->

        <div class="bottom-wrap">
          <div class="left-skill-wrap">
            <label class="lanuages1" for="">Computer proficiency</label>

            <div class="english-line">
              <div class="english-inner"></div>
            </div>
            <label class="lanuages2" for="">Leadership experience</label>
            <div class="hebrew-line1">
              <div class="hebrew-inner1"></div>
            </div>
            <label class="lanuages1" for="">Communication skills</label>
            <div class="english-line">
              <div class="english-inner"></div>
            </div>
          </div>
          <div class="right-skill-wrap">
            <label class="lanuages1" for="">People skills</label>
            <div class="english-line">
              <div class="english-inner"></div>
            </div>
            <label class="lanuages2" for="">Problem-solving abilities</label>
            <div class="hebrew-line1">
              <div class="hebrew-inner1"></div>
            </div>
            <label class="lanuages1" for="">Decision making</label>
            <div class="english-line">
              <div class="english-inner"></div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
