*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.main-container {
  margin-left: 11rem;
  padding-bottom: 5rem;
}

.resume{
  width: 45vw;
  height: 100%;
  margin: 20px auto;
  display: flex;
}

.left-side{
  background-color: #2e3637;
  width: 50%;
}

.right-side{
  background-color: white;
  width: 50%;
}

.img-container{
  width: 100%;
  height: 12rem;
  margin: 3rem 0rem;
  width: 100%;
  background-color: #e3e1e1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-wrap{
  width: 11rem;
  height: 11rem;
  background-color: purple;
  border-radius: 50%;
  border: 5px solid black;
}

.profile-pic{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}


.name-sec{
  background-color: #e3e1e1;
  width: 100%;
  height: 12rem;
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 30px;

}

.name{
  font-size: 3.5rem;
}

.description{
  font-size: 1.1rem;
}

.name-icons-sec{
  width: 100%;
  height: 5rem;
  display: flex;
  flex-wrap: wrap;
  padding: 2px;
}

.icons-flex{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.icons-sec1{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.icons-sec2{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 15px;
}

.loc-p{
  color: black;
}
.phone-p{
  color: black;
}
.email-p{
  color: black;
}
.globe-p{
  color: black;
}
span{
  margin-right: 8px;
}

i{
  font-size: 1.1rem;
}

p{
  font-size: .7rem;
  color: white;
  letter-spacing: .03rem;

}

.about-me-wrap{
  width: 100%;
  padding-left: 40px;
  margin-bottom: 3rem;
}

.about-me-title{
  text-decoration: underline;
  margin-bottom: 5px;
  color: white;
}

.interests-wrap{
  width: 100%;
  padding-left: 40px;
  margin-bottom: 3rem;
}

.interests-title{
  text-decoration: underline;
  margin-bottom: 5px;
  color: white;
}

.hobbies-wrap {
  width: 100%;
  padding-left: 40px;
}

.hobbies-title {
  text-decoration: underline;
  margin-bottom: 5px;
  color: white;
}

.hobbies-icon-wrap{
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.bi-suit-spade,
.bi-controller,
.bi-camera,
.bi-film,
.bi-book,
.bi-music-note-beamed{
  font-size: 2rem;
  margin-right: 2rem;
}

.objectives-wrap{
  padding-left: 30px;
  width: 100%;
  margin:3rem 0;
}

.objectives-title{
  text-decoration: underline;
  margin-bottom: 5px;
}

.objectives-text{
  color: black;
}


.education-wrap{
  width: 50%;
  padding-left: 30px;
  margin-right: 5px;
  margin-bottom: 1rem;
}

.edu-title{
  text-decoration: underline;
}


.exp-list{
  margin-bottom: 1rem;
}

.exp-list2{
  color: black;
  margin-left: 30px;
}

.exp-list li{
  margin-left: 30px;
}

.experience-title{
  margin-left: 30px;
  text-decoration: underline;
}

.experience-sub-title{
  margin-left: 30px;
  font-weight: bold;
}

.web-programmer-title{
  margin-left: 30px;
  font-weight: bold;
}







/* .language-wrap {
  width: 100%;
  padding: 3px;
  border-top: #232D3D 2px solid;
  border-bottom: #232D3D 2px solid;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
} */

.language-header {
  margin-top: 3rem;
  margin-left: 30px;
  text-decoration: underline;
  margin-bottom: 5px;
}

.lanuages1 {
  color: #232D3D;
  font-size: 12px;

}


.english-line {
  width: 100%;
  height: 7px;
  background-color: gray;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.english-inner {
  width: 97%;
  height: 7px;
  background-color: #998848;
  border-radius: 10px;
}

.lanuages2 {
  color: #232D3D;
  font-size: 12px;


}

.hebrew-line {
  width: 100%;
  height: 7px;
  background-color: gray;
  border-radius: 10px;
  margin-top: 10px;
}

.hebrew-line1 {
  width: 100%;
  height: 7px;
  background-color: gray;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.hebrew-inner {
  width: 75%;
  height: 7px;
  background-color: #998848;
  border-radius: 10px;
}

.hebrew-inner1 {
  width: 90%;
  height: 7px;
  background-color: #998848;
  border-radius: 10px;
}

.mid-sec-wrap {
  display: flex;

}

.right-side-wrap {
  width: 60%;
  padding: 30px 30px 30px 10px;



}

.personal-bio {
  color: #232D3D;
  margin-bottom: 20px;
  /* font-family: sans-serif; */
  font-size: 14px;
  letter-spacing: 1px;
}

.responsibilities {
  width: 100%;
  font-size: 15px;
}

.my-ul2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 17px;
  margin-top: 10px;

}

/* bottom wrap */
.bottom-wrap {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.left-skills-wrap {
  width: 50%
}
