<div class="main-container">

  <div class="formSide">

<h2 class="contact-title">
    Contact me

</h2>

<p class="contact-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati veritatis impedit maxime minima, officiis provident id? Esse enim fugiat amet quaerat aperiam voluptates neque nisi similique labore, vero incidunt earum?</p>

<form class="contactForm" [formGroup]="contactForm" (ngSubmit)="onSubmit()" >
  <div class="nameNemail-wrap">
    <div class="InputFormControls">
        <input #nameFieldRef formControlName="name" type="text" id="name" placeholder="Name">
    </div>



    <div class="InputFormControls">
        <input formControlName="email" type="text"  id="email" placeholder="Email">
    </div>


    </div>
    <div class="nameNemailVal-wrap">
    <app-input-validation [formField]="getFieldControl('name')"></app-input-validation>
    <app-input-validation [formField]="getFieldControl('email')"></app-input-validation>
    </div>
    <div class="InputFormControls">
        <input formControlName="subject" type="text" id="subject" placeholder="Subject">
    </div>

    <app-input-validation [formField]="getFieldControl('subject')"></app-input-validation>

    <div class="InputFormControls">
        <textarea formControlName="message" type="text" cols="60" rows="5" id="message" placeholder="Message"></textarea>
    </div>

    <app-input-validation [formField]="getFieldControl('message')"></app-input-validation>
    <div>
    <button [disabled]="contactForm.invalid" type="submit" class="contact-btn">
        Send message!
    </button>
    </div>
</form>

</div>

<div class="mapSide">gfg</div>
</div>
