.main-container {
  height: 3.5rem;
  margin-left: 11rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  opacity: 40%;
}

.copywrite {
  font-size: .8rem;
  color: white;
}
